body {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    float: left;
}

#upper_heading {
    width: 100%;
    background-color: #f1f1f1;
    height: 5vh;
}

#navigation {
    margin: 0;
    list-style-type: none;
    float: right;
}

#navigation li {
    padding: 7px 16px;
    display: inline-block;

}

#navigation li a {
    text-decoration: none;
    color: #0077b3;
}

#title1 {
    width: 100%;
    background-color: #002233;
    height: 10vh;
}

#title1 h1 {
    margin: 0;
    color: white;
    padding: 1%;
    padding-left: 5%;
    float: left;
}

.main {
    width: 90%;
    display: block;
    margin: auto;
}

#image_holder {
    width: 10%;
    float: left;
    margin-top: 2%;
    padding: 1%;
}

#image_choose_holder {
    width: 130%;
    height: 25vh;
}

#about {
    float: left;
    width: 100%;
    margin-top: 5%;
}

#about_table {
    width: 100%;
    border: 1px solid #c2c2a3;
    border-collapse: collapse;
}

#about_table th {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 15%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #c2c2a3;
}

#about_table td {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    border-bottom: 1px solid #c2c2a3;
}

#my_blogs {
    float: left;
    width: 100%;
    margin-top: 5%;
    padding-bottom: 2%;
}

#my_blogs a {
    text-decoration: none;
    color: gray;
}

#my_blogs a:hover {
    text-decoration: underline;
}